#uno {
    margin: 100px;
    padding: 5px 15px 5px 15px;
    background-color: blue;
    border-radius: 20px;
    
 }
  #dos{
    background-color: blue;
      padding: 5px;
      margin: 5px;
      width: 75px;
      border-radius: 10px;
      
 }
  #tres{
    background-color: blue;
    padding: 5px;
    margin: 5px;
    width: 75px;
    border-radius: 10px;
    

  }
  #cuatro{
    background-color: blue;
      padding: 5px;
      margin: 5px;
      width: 75px;
      border-radius: 10px;
      
 }
  #cinco{
    background-color: blue;
      padding: 5px;
      margin: 5px;
      width: 75px;
      border-radius: 10px;
      
      
 }

 .loro{
  margin: 100px;
  padding: 5px 15px 5px 15px;
  background-color: greenyellow;
  border-radius: 20px;}
  


  
  