* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calcu{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid gray;
}

.calcu-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid gray;
    overflow-x: auto;
}

.calcu-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-buttom {
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray;
}

.keypad-buttom:hover{
    filter: brightness(80%);
    transition: fiter .25s;
}

.keypad-buttom.yellow{
    background-color: yellow;
}

.keypad-buttom.large{
    width: 50%;
}

.keypad-buttom.dark{
    background-color: lightgray;
}
